<div class="app">
  <div class="component--3uxoH">
    <div class="PageFooter--q6-VT">
      <div class="container--2gbHf l-container">
        <nav class="nav--CPVyU">
          <h3 class="navTitle--1W31B">about</h3>
          <ul class="navList--2HPNM">
            <li class="navItem--2TmsE">
              <a class="navItemLink--2AhgN"  target="_blank">Our Team</a>
            </li>
            <!-- [routerLink]="['/ourteam/team']" -->
            <li class="navItem--2TmsE">
              <a class="navItemLink--2AhgN"  target="_blank">Press</a>
            </li>
            <!-- [routerLink]="['/ourteam/press']"  -->
            <li class="navItem--2TmsE">
              <a class="navItemLink--2AhgN"  target="_blank">Careers</a>
            </li>
            <li class="navItem--2TmsE">
              <a class="navItemLink--2AhgN"  target="_blank">Terms of Service</a>
            </li> 
            <!-- [routerLink]="['/ourteam/tos']" -->
            <li class="navItem--2TmsE">
              <a class="navItemLink--2AhgN"  target="_blank">Cookie Policy</a>
            </li>
            <!-- [routerLink]="['/ourteam/cookie-policy']"  -->
          </ul>
        </nav>
        <nav class="nav--CPVyU">
          <h3 class="navTitle--1W31B">sales</h3>
          <ul class="navList--2HPNM">
            <li class="navItem--2TmsE">
              <a class="navItemLink--2AhgN"   target="_blank">Pricing</a>
            </li>
            <!-- [routerLink]="['/information/pricing']" -->
            <li class="navItem--2TmsE">
              <a class="navItemLink--2AhgN"    target="_blank">Products</a>
            </li>
            <!-- [routerLink]="['/information/products']" -->
            <li class="navItem--2TmsE">
              <a class="navItemLink--2AhgN"  target="_blank">Partnerships</a>
            </li>
            <li class="navItem--2TmsE">
              <a class="navItemLink--2AhgN"  target="_blank">Non-profits</a>
            </li>
          </ul>
        </nav>
        <nav class="nav--CPVyU">
          <h3 class="navTitle--1W31B">social</h3>
          <ul class="navList--2HPNM">
            <li class="navItem--2TmsE">
              <a class="navItemLink--2AhgN"  target="_blank">Blog</a>
            </li>
            <li class="navItem--2TmsE">
              <a class="navItemLink--2AhgN"  target="_blank">Twitter</a>
            </li>
            <li class="navItem--2TmsE">
              <a class="navItemLink--2AhgN" target="_blank">Facebook</a>
            </li>
            <li class="navItem--2TmsE">
              <a class="navItemLink--2AhgN"  target="_blank">Instagram</a>
            </li>
          </ul>
        </nav>
        <nav class="nav--CPVyU">
          <h3 class="navTitle--1W31B">support</h3>
          <ul class="navList--2HPNM">
            <li class="navItem--2TmsE">
              <a class="navItemLink--2AhgN" target="_blank">Support Center</a>
            </li>
            <li class="navItem--2TmsE">
              <a class="navItemLink--2AhgN"  target="_blank">FAQ</a>
            </li>
            <li class="navItem--2TmsE">
              <a class="navItemLink--2AhgN"  target="_blank">Getting Started</a>
            </li>
            <li class="navItem--2TmsE">
              <a class="navItemLink--2AhgN"  target="_blank">Account &amp; Privacy</a>
            </li>
          </ul>
        </nav>
        <nav class="nav--CPVyU">
          <h3 class="navTitle--1W31B">Questions</h3>
          <ul class="navList--2HPNM">
            <li class="navItem--2TmsE">
              <a class="button--1L9B7 component--button--PUiR2" href="mailto:cpp@narola.email">Get In Touch</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
