<html class="wf-futurapt-n5-active wf-futurapt-n4-active wf-futurapt-n3-active wf-opensans-i4-active wf-opensans-n4-active wf-opensans-n6-active wf-active">
<head>
    <title>Video Meetings, Video Conferencing, and Screen Sharing - Whereby (formerly appear.in)</title>
    <link rel="stylesheet" href="https://d1x2efl61akomv.cloudfront.net/styles/main.f8595752.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<div class="wrapper frontpage-content-wrapper">
    <div class="session-feedback">
        <div class="session-wrapper">
            <div class="content-wrapper">
                <h1> Did you have a good meeting ?</h1>
                <h2>Let's make your next one even better <br>
                Easily upgrade to a pro plan, so you can :
                </h2>
                <ul>
                    <li>Host up to 12 participants in your meetings</li>
                    <li>Get 3 dedicated meeting rooms for different purposes</li>
                    <li>Showcase your brand with customized room logo & background</li>
                    <li>Screen share while your team can still see you</li>
                    <li>Access premium support for when you need help</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</html>
